/*This has all of the styling for the task.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*This is constant across the body portion of the website*/
    background-color: #f1f9fc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header{
    /*This is the headers styling*/
    background-color: #011bacdf;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    position: fixed;    /*This keeps the header at the top of the screen even when scroling down.*/
    width: 100%;
    z-index: 999;
}

footer{
    background-color: #ff8e24;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 100%;
}

h1{
    font-size: 7vw;
    text-align: center;
}

h2{
    font-size: 7vw;
    text-align: center;
}

h3{
    font-size: 50px;
    text-align: center;
    padding: 0 10px 20px;
}

h4{
    font-size: 30px;
    text-align: center;
    padding: 5px 5px 10px;
}

h5{
    font-size: 20px;
    text-align: center;
}

p{
    font-size: 16px;
    text-align: center;
}

section{
    padding: 20px 0;
}

article{
    padding: 10px 0;
}

div{
    padding: 0 0 15px;
}

/*This is for the nav bar*/

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}

.nav-link:hover{
    color: #8a9cff;
}

.nav-logo {
    max-height: 100px;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #65c2ff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*End of nav bar*/
#intro{
    background: black url(../img/maunga_club_cabin.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 0 100px;
}

.intro-block{
    background-color: #ff8e24df;
    color: white;
    height: 310px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 65%;
}

.intro-block a{
    display: inline-block;
}

.button{
    border: 2px solid #000079;
    color: #000079;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
}

.button:hover{
    background-color: #6262ff;
}

.gallery-button{
    margin: 20px;
}

.grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    margin: 0 auto;
}

.grid h2{
    color: #0066ff;
}

.chalet{
    background-color: #65c2ffdf;
    color: white;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 65%;
}

#about{
    padding: 20px 0;
}

#K훮k훮po{
    background: black url(../img/kakapo/cabin_view.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 0 100px;
}

.feature{
    font-size: 30px;
}

#P큰keko{
    background: black url(../img/pukeko/chalet_exterior.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 0 100px;
}

#Kerer큰{
    background: black url(../img/kereru/cabin_exterior.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 0 100px;
}

#join{
    background: black url(../img/mountain_view_light.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 0 100px;
}

.join-block{
    background-color: #ff8e24df;
    color: white;
    height: 200;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 65%;
}

/*This is all the css for the form on "join.html"*/
form {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
  }
  form button:hover {
    background: gold;
  }
  
  label {
    text-align: right;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }
  
  input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 3px solid gold;
  }
  
  @media (min-width: 400px) {
    form {
      overflow: hidden;
    }
  
    label {
      float: left;
      width: 200px;
    }
  
    input {
      float: left;
      width: calc(100% - 200px);
    }
  
    button {
      float: right;
      width: calc(100% - 200px);
    }
  }  