/*This has all of the styling for the task.*/
body{
    /*This is constant across the body portion of the website*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header{
    /*This is the headers styling*/
    background-color: #011bacdf;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    position: fixed;    /*This keeps the header at the top of the screen even when scroling down.*/
    width: 100%;
    z-index: 999;
}

footer{
    background-color: #ffa500;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 100%;
}

h1{
    font-size: 60px;
    text-align: center;
}

/*This is for the nav bar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}

.nav-link:hover{
    color: #8a9cff;
}

.nav-logo {
    max-height: 100px;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #65c2ff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*End of nav bar*/
#intro{
    background: black url(../img/maunga_club_cabin.jpg) /*url for image and centre no repeat for placement*/;
    background-size: cover;
    height: 300px;
    padding: 300px 0 100px;
}

.intro-block{
    background-color: #65c2ff;
    color: white;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 900px;
}

.intro-block a{
    display: inline-block;
}

.button{
    border: 2px solid #000079;
    color: #000079;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
}